@font-face {
    font-family: 'consolasb';
    src: url('../fonts/consolab.ttf') format('truetype');
}
@font-face {
    font-family: 'pinyonscript';
    src: url('../fonts/PinyonScript-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'cormoranti';
    src: url('../fonts/Cormorant-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'cormorantbi';
    src: url('../fonts/Cormorant-BoldItalic.ttf') format('truetype');
}
/* Basic fonts */
@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Light.ttf') format('truetype');
}

/* Backgrounds */
body {
    margin: 0;
    overflow: hidden;
}

#aboutfrontline {
    position: absolute;
    left: 0;
    top: 25vh;
    border-top: 75vh solid transparent;
    border-left: 85vw solid #AAE;
    z-index: -1;
}

#frontwhitespace {
    position: absolute;
    left: 0;
    top: 60vh;
    border-top: 40vh solid transparent;
    border-left: 15vw solid white;
}

#aboutbackline {
    position: absolute;
    left: 15vw;
    top: 10vh;
    border-top: 90vh solid transparent;
    border-right: 85vw solid #88C;
    z-index: -2;
}

#backwhitespace {
    position: absolute;
    left: 85vw;
    top: 50vh;
    border-top: 50vh solid transparent;
    border-right: 15vw solid white;
}

/* Contents */
/* Title */
h1 {
    margin: 0;
    position: absolute;
    left: 2vw;
    top: 1vh;
    font-family: 'consolasb', monospace;
    font-size: 15vmin;
    color: #A8C;
    text-decoration: overline;
}
/* Desc */
p {
    position: absolute;
    width: 60vw;
    left: 18vw;
    top: 15vh;
    font-family: 'cormoranti', serif;
    font-size: 4vmin;
}
span.desc {
    font-family: 'cormorantbi', serif;
    color: #C8C;
}

h2 {
    margin: 0;
    position: absolute;
    left: 3vw;
    top: 55vh;
    font-family: 'consolasb', monospace;
    font-size: 8vmin;
    color: black;
    text-decoration: overline;
}
ul {
    position: absolute;
    left: 12vw;
    top: 60vh;
    max-height: 30vh;
    font-family: 'raleway', sans-serif;
    font-size: 4vmin;
    list-style: none;
    overflow-y: hidden;
}