/* Basic fonts */
@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Light.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
}
#contactfrontline {
    position: absolute;
    left: 0;
    top: 11vh;
    border-top: 89vh solid transparent;
    border-left: 100vw solid #AEA;
    z-index: -1;
}

#whitespace {
    position: absolute;
    left: 0;
    top: 53vh;
    border-top: 47vh solid transparent;
    border-left: 25vw solid white;
}

/* Contents */
/* Title */
h1 {
    margin: 0;
    position: absolute;
    right: 5vw;
    top: 1vh;
    font-family: 'consolasb', monospace;
    font-size: 15vmin;
    color: #AC8;
    text-decoration: overline;
}

#contact {
    position: absolute;
    left: 5vw;
    top: 75vh;
    width: 40vw;
    height: 20vh;
}

#contact a {
    text-decoration: none;
}
#contact i {
    display: flex;
    flex-direction: column;
    margin: 2vmin 0;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    font-size: 4vmin;
    background: #CEA;
    color: white;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    position: absolute;
    left: 25vw;
    top: 90vh;
}
footer p {
    font-family: 'raleway', sans-serif;
    font-size: 2.5vmin;
    color: #7A7A7A;
}