/********************************/
/* Font faces */
/********************************/
@font-face {
    font-family: 'barlow';
    src: url('../fonts/Barlow/Barlow-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'barlowl';
    src: url('../fonts/Barlow/Barlow-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'barlowli';
    src: url('../fonts/Barlow/Barlow-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'tangerine';
    src: url('../fonts/Tangerine-Regular.ttf') format('truetype');
}

::selection {
    background: rgb(135, 206, 235);
}

/********************************/
/* Backbground specification */
/********************************/
html, body {
    height: 100%;
    margin: 0;
}

#mainbg {
    width: 100%;
    height: 300%;
    position: absolute;
    z-index: -1;
}

/* Background for each container */
/* #aboutbg {
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    z-index: -1;
}

#contactbg {
    background: black;
    width: 100%;
    height: 100%;
    top: 200%;
    position: absolute;
    z-index: -1;
} */

footer {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #BBB;
}

/********************************/
/* Main container specification */
/********************************/
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 60%;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: rgba(120, 120, 120, 0.5);
    color: #FFFFFF;
}

/********************************/
/* Navigation bar specification */
/********************************/
#navbar {
    overflow: hidden;
    background: rgba(51, 51, 51, 0.6);
    color: #EEE;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar p {
    float: left;
    display: block;
    margin: 15px;
    text-align: center;
}

#list {
    transition: 0.3s;
}
#list:hover {
    color: rgb(135, 206, 235);
}

/********************************/
/* MAIN */
/********************************/
#profilephoto {
    height: 30%;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(135, 206, 235);
}

/* Real Name */
h1 {
    margin-top: 1em;
    margin-bottom: 0;
    font-family: 'barlow', sans-serif;
    font-size: 6vmin;
}

/* English Name */
h2 {
    margin: 0;
    font-family: 'tangerine', cursive;
    font-size: 5vmin;
}

/* a.k.a. */
h6 {
    margin: 0;
    font-family: 'barlowli', cursive;
    font-size: 3vmin;
}

/* Info */
#infobox {
    margin-top: 5%;
    text-align: center;
}

h3 {
    font-family: 'barlowl', sans-serif;
    font-weight: 200;
    font-size: 3vmin;
}


/********************************/
/* ABOUT */
/********************************/
#desc {
    text-align: center;
    padding: 0 15px;
}

p {
    font-family: 'barlowl', sans-serif;
    font-size: 2vmin;
}

.hl {
    color: rgb(135, 206, 235);
    font-weight: bold;
}

/* Skill Boxes */
#skill-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
h5 {
    font-family: 'barlowl', sans-serif;
    font-size: 3vmin;
    background: rgb(135, 206, 235);
    color: rgb(40, 40, 40);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

h5:hover {
    background: rgb(75, 146, 175);
    transform: scale(1.1);
}

/********************************/
/* CONTACT */
/********************************/
#socialm {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}
#socialm a {
    font-size: 150px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

#socialm a:hover {
    color: rgb(135, 206, 235);
    transform: scale(1.1);
}